/*ORDEN EN CSS*/
/*RESET
Familia tipo
Tamaño tipo
box-model

REM : 16PX - MEDIDA POR DEFAULT
2rem : 32PX
0.5rem : pix

EM - LA MEDIDA LA DOY YO
10PX
2EM : 20px

VH: VIEW HEIGHT - ALTO DE PANTALLA
VW: VIEW WIDTH - ANCHO DE PANTALLA
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}


/*-----------------------main-----------------------*/

.padre{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.padre h2{
    color: #314c53;
    font-size: 2rem;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.padre form{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.padre form label{
    display: flex;
    text-transform: uppercase;
    margin: 10px;
}
.padre .btn-enviar{
    margin: 20px; 
}
.contenedor{
    background-color: #314c53;
    border-radius: 15px;
    border-radius: 15px;
}
.padre__hijo{
    display: flex;
    flex-flow: wrap;
    margin: 10px;
}
.padre__hijo__caja{
    width: 400px;
    height: 600px;
    background-color: #48586f;
    border: 3px solid antiquewhite;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: antiquewhite;
    margin: 10px;
    padding: 10px;
}
.caja__nws{
    background-color: #48586f;
    border: 3px solid antiquewhite;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: antiquewhite;
    margin: 10px;
    padding: 10px;
}
.caja h3{
    font-size: 1.25rem;
    font-size: 1.25rem;
}
.img__gral{
    width: 300px;
}
.comentarios{
    margin: 10px;
    padding: 10px;
    height: 300px;
    border: 3px solid white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}
.comentarios h3{
    font-size: 1.5rem;
    color: #f7f8fc;
}
.comentarios div{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.comentarios p{
    margin: 10px;
    color:#f7f8fc;
}

/*-----------------------publi-----------------------*/

.publi-w{
    text-align: center;
    display: flex;
}

/*-----------------------pie-----------------------*/

.pie{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: 10px;    
}


.pie nav{
    align-items: center;
    
}
.pie nav ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 33%;
}
.pie nav ul li{
    justify-content: space-between; 
}

.pie nav ul li a{
    color: black;
    text-transform: lowercase;
    letter-spacing: 0.5cap;
    text-decoration: none;
}


.img__logo {
    width: 200px;
    border-radius: 15px;
    margin: 10px;
}
.pie p{
    margin: 10px;
}

.form{
    font-style: italic;
}
.btn-enviar{
    font-size: 1.5rem;
    background-color: #475841;
    color: antiquewhite;
}


/* Bootstrap - main*/
.img__gral-w{
    width: 200px;
    border-radius: 15px;
    margin-top: 66px;
    margin-right: 20;
    align-items: center;
}

.center-w{
    text-align: center;
}

.col-btn-w{
    background-color: #48586f;
    color: antiquewhite;    
}


/*-----------------------botton-----------------------*/

a:link{
    color:red
}

a:visited{
    color:green;
}

a:hover{
    background-color: darkred;
    color: white;
}

a:active{
    background-color: yellowgreen;
}
