/*-----------------------ASIDE-----------------------*/
.comentarios{
    @include mp (10px, 10px);
    @include border-w;
    height: 3em;
    display: flex;
    flex-direction: column;
    
    &__h3{
        font-size: map-get($txt-size, xs);
        color: $d-green;
    }

    div{
        @include flex-jc-fd-ai;
        height: 30em;
    }

    p{
        @include mp (10px, 10px);
        color:$white;
    }
}

.publi-w{
    text-align: center;
    display: flex;
}

.col{
    &-btn-w{
        background-color: $grey;
        color: $white;    
    }
}