/*-----------------------GALERY-----------------------*/
.img{
    &__logo{
        @include border-w;
        width: 200px;
        margin: 10px; 
    }

    &__gral{
        @include border-w;
        width: 15em;
        
        &-w{
            @include border-w;
            width: 2em;
            margin-top: 6em;
            margin-right: 2em;
            align-items: center;
        }
    }
    
}