/*-----------------------MAIN-----------------------*/

h1{
    color: $d-green;
    font-size: map-get($txt-size, l );
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
}

.padre{
    @include flex-jc-fd-ai;

    &__h2{
        color: $white;
        font-size: map-get($txt-size, m );
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;

        &__top{
            font-size: map-get($txt-size, m );
            color: $d-green;
            text-align: center;
        }
    }

    form{
        @include mp (10px, 10px);
        display: flex;
        flex-direction: column;
        
        label{
            display: flex;
            text-transform: uppercase;            
        }
    } 

    &__hijo{
        @include mp (1em, 1em);
        display: flex;
        flex-flow: wrap;
        

        &__caja{
            
            @include flex-jc-fd-ai;
            
            @include border-w;
            background-color: map-get($color-bg ,grey );
            color: map-get($txt-parrafos , color );
            text-align: map-get($txt-parrafos , txt-align );
            
            h3{
                font-size: map-get($txt-size, s );
            }
        
        }

    }
}

.caja{
    @include wh (10em, 15em);
    @include flex-jc-fd-ai;
    @include border-w;
    @include mp (10px, 10px);
    background-color: map-get($color-bg , grey );
    color: map-get($txt-parrafos , color );
    text-align: map-get($txt-parrafos , txt-align );
    
    h3{
        font-size: map-get($txt-size, s );
    }

    &__nws{
        @include flex-jc-fd-ai;
        @include mp (10px, 10px);
        @include border-w;
        color: $white;
        background-color: $grey;

        &__h3{
            font-size: map-get($txt-size, m);
            @include mp (5px, 5px);
            text-decoration: underline;
            color: $d-red;
        }
        
        
    }
}

h3{
    font-size: map-get($txt-size, m);
    @include mp (5px, 5px);
    text-decoration: underline;
    color: $d-red;
}

.contenedor{
    background-color: $d-green;
    border-radius: 15px;
    @include flex-jc-fd-ai;
}
.form{
    font-style: italic;
}

.center-w{
    text-align: center;
}

.subs{
    @include flex-jc-fd-ai;
    @include mp (10px, 10px);
}