/*-----------------------MENU-----------------------*/


.center-w{
    text-align: center;
}

.col-btn-w{
    background-color: $grey;
    color: map-get($txt-parrafos , color );
    @include border-w;    
}

.w-col-btn-cont{
    background-color: $grey;
    color: map-get($txt-parrafos , color );
    @include border-w;
    @include flex-jc-fd-ai;    
}

a{
    &:link{
    color:$d-green;
    }

    &:visited{
        color:$d-red;
        text-decoration: underline;
    }

    &:hover{
        background-color: $d-red;
        color: $white;
    }

    &:active{
        background-color: $green;
        color: $white;
    }
}
