/*ORDEN EN CSS*/
/*RESET
Familia tipo
Tamaño tipo
box-model

REM : 16PX - MEDIDA POR DEFAULT
2rem : 32PX
0.5rem : pix

EM - LA MEDIDA LA DOY YO
10PX
2EM : 20px

VH: VIEW HEIGHT - ALTO DE PANTALLA
VW: VIEW WIDTH - ANCHO DE PANTALLA
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}

/*header*/
li a{
    color: white;
    letter-spacing: 0.25cap;
    font-size: 1rem;
}
h1{
    background-color: #314c53;
    color: #f7f8fc;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5cap;
    font-size: 3rem;
}

/*main*/
.header{
    background-color: #789090;
}
.main{
    background-color: #789090;
}
h2{
    color: #314c53;
    text-align: center;
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}
h4{
    color: #f7f8fc;
    font-size: 1rem;
    text-decoration: underline;
    font-style: italic;
}
p{
    font-size: 1;
}
.form{
    font-style: italic;
}
.btn-enviar{
    font-size: 1.5rem;
    background-color: #475841;
    color: antiquewhite;
}

.contenedor{
    display: flex;
    display: column;
    padding: 10px;
}
footer a{
    display: inline-block;
    color: black;
    letter-spacing: 0.25cap;
}

/*Imagen*/
img{
    width: 300px;
}

header img {
    width: 200px;
}

/*Box Modeling*/
.caja{
    width: 450px;
    height: 50%;
    line-height: 50px;
    background-color: #48586f;
    border: 2px solid antiquewhite;
    text-align: center;
    color: antiquewhite;
}
.caja-biografia{
    width: 600px;
    height: 200px;
    background-color: #48586f;
    border: 2px solid antiquewhite;
    text-align: center;
    color: antiquewhite;
}

/*Display*/
.block-element {
    display: block;
    width: 100%;
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 0.5rem;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.menu /*inline-element*/ {
    display: inline;
    color: #314c53;
    font-weight: bold;
}

.inline-block-element {
    display: inline-block;
    width: 150px;
    height: 100px;
    background-color: lightgreen;
    margin: 10px;
}